/*---------- Colors ----------*/
$color-nav: #f3f4f4;

/*-- Text --*/
$color-text: #333f48;
$color-text-link: #0085ad;

/*-- Buttons --*/
$color-button: #c1c6c8;
$color-button-hover: #adb2b6;

$color-button-primary: #5c656d;
$color-button-primary-hover: #333f48;

$color-button-secondary: #0085ad;
$color-button-secondary-hover: #346d91;

$color-button-tertiary: #f9423a;
$color-button-tertiary-hover: #dc3931;




















